body {
    overflow-y: scroll !important;
}

.wrapper {
    overflow-y: hidden !important;
}

.sidebar-menu ul li a {
    white-space: normal;
    word-wrap: break-word;
}

.box-body .row{
    margin-right: 0;
}