.tooltip-inner {
    /*max-width: 350px;*/
    /* If max-width does not work, try using width instead */
    /*width: 350px;*/
}

table.detail-view th {
    width: 25%;
}

.text-green {
    color: #00a65a !important;
}

.text-blue {
    color: #0073b7 !important;
}

.text-red {
    color: #dd4b39 !important;
}

.box-body .row {
    margin-right: 0;
}

.backup-changes .attribute .attribute-name {
    font-style: italic;
    color: #337ab7;
}

.backup-changes .attribute .attribute-name:after {
    content: ":";
}

.backup-changes .attribute .attribute-value {

}

del {
    background-color: #ffcccc;
    text-decoration: underline;
}

ins {
    background-color: #ccffcc;
    text-decoration: none;
}

/* FIX for Split Dropdown Buttons (wrap)*/
.split-dropdown-buttons {
    white-space: normal !important;
}

.split-button {
    margin: 5px;
    display: inline-block;
    white-space: nowrap;
}

.split-button > .btn-group {
    font-size: 0;
}

.split-button > .btn-group-vertical > .btn, .btn-group > .btn {
    display: inline-block;
    float: none;
}

.entry-menu-label {
    margin-left: 10px;
}

.entry-menu-label2 {
    font-size: 100%;
    margin-left: 3px;
}

.nowrap {
    white-space: nowrap !important;
}